body {
	background-color: #000;
		
	/* Allow mouse dragging. */
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	
	/* disable touch panning/zooming */
	-ms-touch-action: none;
	touch-action: none;

	/* Allow canvas to hit the edges of the browser viewport. */
	margin: 0;
}

#screen{
	position:relative;
	width:480px;
}

#screen canvas {
	margin: auto;

	/* Hide the gap for font descenders. */
	display: block;
	
	/* disable scaling interpolation */
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

#game-quiz{
	position:absolute;
	left:0;
	top:0;	
	width:100%;	
	background:white;	
	height:320px; /* TODO*/
	overflow: auto;
}

#game-quiz div{
	padding:0 1em;
}

input#game-quiz-answer{
	margin:0.5em 0;
	width:100%;
	box-sizing: border-box;	
}

input#game-quiz-answer.isCorrect{
	background:green;
}

input#game-quiz-answer.isMistake{
	background:red;
}

#game-quiz .button-wrapper{		
	text-align:right;
}

#game-quiz .button-wrapper .show{
	display:inline;
}

#game-quiz .button-wrapper .hide{
	display:none;
}

#game-quiz.hide{
	display:none;	
}

#game-quiz.show{
	display:block;
}

